/*  Mobile-specific Styling  */
@media screen and (max-width: 768px) {
	.shell {
	    padding: 1em 1em 1em 1em;
	}
}

/* Desktop-specific Styling */
@media screen and (min-width: 768px) {
	.shell {
		margin-left: auto;
		margin-right: auto;
		padding: 32px 32px 32px 32px;
	}
}

.shell {
	background-color: whitesmoke;
}

html {
	font-family: Ubuntu, sans-serif;
	background-color: floralwhite;
	padding: 1em;
}

p {
	/* This Puts Indentations on Every Paragraph */
	text-indent: 1em;
}

/* This class is for centering an element */
.centered {
	text-align: center;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
}